In [1]:
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use("seaborn")

In [2]:
df = pd.read_csv('dataset/healthcare-dataset-stroke-data.csv')
df.sample(10)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
3600,26076,Female,75.00,1,0,Yes,Self-employed,Rural,219.82,29.5,formerly smoked,0
2676,22231,Male,58.00,0,0,Yes,Private,Urban,199.42,29.0,never smoked,0
4518,56254,Female,25.00,0,0,No,Private,Rural,108.82,41.3,smokes,0
1745,33462,Male,39.00,0,0,Yes,Private,Urban,92.32,43.0,never smoked,0
4645,25783,Female,0.48,0,0,No,children,Rural,94.06,14.8,Unknown,0
4716,5387,Female,82.00,0,0,No,Private,Rural,96.98,21.5,never smoked,0
1647,34001,Female,6.00,0,0,No,children,Urban,78.26,19.4,Unknown,0
2440,12336,Female,73.00,0,0,Yes,Self-employed,Urban,87.56,24.1,never smoked,0
4927,25391,Female,10.00,0,0,No,children,Rural,69.84,13.7,Unknown,0
4267,25643,Male,36.00,0,0,Yes,Private,Rural,119.90,37.6,never smoked,0

In [3]:
df.rename(columns = {'id': 'ID', 'gender': 'Sexo', 'age': 'Idade', 'hypertension': 'Hipertenso', 'heart_disease': 'Problemas_Coracao', 'ever_married': 'Ja_Casado', 'work_type': 'Tipo_Trabalho', 'Residence_type': 'Tipo_Residencia', 'avg_glucose_level': 'AVG_Nivel_Glicose', 'smoking_status': 'Status_fumante', 'stroke': 'Derrame'}, inplace = True)

In [4]:
df.sample(5)

,ID,Sexo,Idade,Hipertenso,Problemas_Coracao,Ja_Casado,Tipo_Trabalho,Tipo_Residencia,AVG_Nivel_Glicose,bmi,Status_fumante,Derrame
2268,35085,Female,6.0,0,0,No,children,Rural,108.23,18.6,Unknown,0
5013,23026,Female,48.0,0,0,Yes,Private,Rural,99.07,22.1,never smoked,0
1361,33167,Female,59.0,0,0,Yes,Private,Urban,89.96,28.1,Unknown,0
305,49003,Male,43.0,0,0,Yes,Private,Urban,146.01,31.5,smokes,0
3699,5496,Female,45.0,0,0,Yes,Private,Urban,202.66,NaN,never smoked,0

In [5]:
# Número de atributos e valores
df.shape

(5110, 12)

In [6]:
# Tipo de dados
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 5110 non-null   int64
 1   Sexo               5110 non-null   object
 2   Idade              5110 non-null   float64
 3   Hipertenso         5110 non-null   int64
 4   Problemas_Coracao  5110 non-null   int64
 5   Ja_Casado          5110 non-null   object
 6   Tipo_Trabalho      5110 non-null   object
 7   Tipo_Residencia    5110 non-null   object
 8   AVG_Nivel_Glicose  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  Status_fumante     5110 non-null   object
 11  Derrame            5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

In [7]:
# Definindo tipo de dados
# ID não terá caracteristica de operações matemáticas, então passamos para string
# Idade é inteiro
# Hipertensão/Problemas_Coração/Derrame são categorias e não terão operações matemáticas passamos para object
df['ID'] = df['ID'].astype('object')
df['Idade'] = df['Idade'].astype('int')
df['Hipertenso'] = df['Hipertenso'].astype('object')
df['Problemas_Coracao'] = df['Problemas_Coracao'].astype('object')
df['Derrame'] = df['Derrame'].astype('object')

In [8]:
df.head()

,ID,Sexo,Idade,Hipertenso,Problemas_Coracao,Ja_Casado,Tipo_Trabalho,Tipo_Residencia,AVG_Nivel_Glicose,bmi,Status_fumante,Derrame
0,9046,Male,67,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 5110 non-null   object
 1   Sexo               5110 non-null   object
 2   Idade              5110 non-null   int32
 3   Hipertenso         5110 non-null   object
 4   Problemas_Coracao  5110 non-null   object
 5   Ja_Casado          5110 non-null   object
 6   Tipo_Trabalho      5110 non-null   object
 7   Tipo_Residencia    5110 non-null   object
 8   AVG_Nivel_Glicose  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  Status_fumante     5110 non-null   object
 11  Derrame            5110 non-null   object
dtypes: float64(2), int32(1), object(9)
memory usage: 459.2+ KB

In [ ]:
# Dados faltantes?
df.isna().sum()

In [ ]:
# Preenchido com a média da coluna
df.fillna(df['bmi'].mean(), inplace = True)

In [ ]:
df.isna().sum()

## Quantas pessoas tiveram derrame?

In [ ]:
# Categoria
# 1 - Derrame
# 0 - Não teve derrame
df['Derrame'].unique()

In [ ]:
df.query('Derrame == 1')['Derrame'].count()

# 249 entrevistados tiveram derrame

In [ ]:
# Entrevistados que já teve derrame vs os que não tiveram derrame
df.groupby('Derrame')['Derrame'].count().plot.bar(title = 'Entrevistados: Derrame x Não Derrame')
plt.ylabel('Quantidade')
plt.xticks(rotation='horizontal')

## O que podemos dizer sobre o atributo Sexo?

In [ ]:
# São três classes declaradas pelos entrevistados
df['Sexo'].unique()

In [ ]:
# Quantidade de entrevistados por sexo
df.groupby('Sexo')['Sexo'].count().plot.bar(title = 'Quantidade de entrevistados por sexo', color = 'green')
plt.ylabel('Quantidade')
plt.xticks(rotation='horizontal')

In [ ]:
# Apenas um entrevistado declarou Outros
df.query('Sexo == "Other"')['Sexo'].count()

In [ ]:
# Os entrevistados que tiveram derrame a maioria são mulheres
df.query('Derrame == 1').groupby('Sexo')['Sexo'].count().plot.bar(title = 'Ocorrência de derrame vs Sexo', color = 'green')
plt.ylabel('Quantidade')
plt.xticks(rotation='horizontal')

## O que podemos observar da idade dos entrevistados?

In [ ]:
# Média, mediana, maior, menor idade
df['Idade'].describe()

In [ ]:
# Distribuição das idades
plt.boxplot(df['Idade'])
plt.ylabel('Idade')
plt.title('Distribuição de Idade')

In [ ]:
# Idade média dos entrevistados que tiveram derrame
round(df.query('Derrame == 1')['Idade'].mean(), 2)

In [ ]:
plt.boxplot(df.query('Derrame == 1')['Idade'])
plt.ylabel('Idade')
plt.title(' Distribuição de idades das pessoas que tiveram derrame')

# Pudemos observar que existe dois valores bem inferiores nos entrevistados que tiveram derrame, pode ser outliers

In [ ]:
# registros fora do padrão
df.query('Derrame == 1 & Idade < 30')

## Hipertesão tem relação com derrame?

In [ ]:
# Correlação fraca
df['Derrame'].corr(df['Hipertenso'])

In [ ]:
df.query('Derrame == 1').groupby('Hipertenso')['Hipertenso'].count().plot.bar(title = 'Pessoas que sofreram derrame vs Hipertensão')
plt.ylabel('Quantidade')
plt.xticks(rotation='horizontal')

## O que podemos dizer Derrame vs Problemas no Coração?

In [ ]:
# 0 - Não tem problemas de coração
# 1 - Problemas relacionados ao coração
df['Problemas_Coracao'].unique()

In [ ]:
# Correlação positiva fraca
df['Problemas_Coracao'].corr(df['Derrame'])

In [ ]:
df.query('Derrame == 1').groupby('Problemas_Coracao')['Problemas_Coracao'].count().plot.bar(title = 'Pessoas que sofreram derrame vs Problemas do Coracao', color = 'green')
plt.ylabel('Quantidade')
plt.xticks(rotation='horizontal')

## Quais entrevistados eram casados?

In [ ]:
# Yes - Casados
# No - Não casados
df['Ja_Casado'].unique()

In [ ]:
# A maioria que sofreram derrame eram casados
df.query('Derrame == 1').groupby('Ja_Casado')['Ja_Casado'].count().plot.bar(title = 'Pessoas que sofreram derrame vs Estado civil',)
plt.ylabel('Quantidade')
plt.xticks(rotation='horizontal')

## Tipos de trabalho

In [ ]:
df['Tipo_Trabalho'].unique()

In [ ]:
df.query('Derrame == 1').groupby('Tipo_Trabalho')['Tipo_Trabalho'].count().sort_values().plot.bar(title = 'Pessoas que sofreram derrame vs tipo de trabalho', color = 'green')
plt.ylabel('Quantidade')
plt.xticks(rotation='horizontal')

In [ ]:
# Aqueles dados vistos anteriormente
df.query('Derrame == 1 & Tipo_Trabalho == "children"')

## Cidade ou Campo?

In [ ]:
df['Tipo_Residencia'].unique()

In [ ]:
df.query('Derrame == 1').groupby('Tipo_Residencia')['Tipo_Residencia'].count().plot.bar(title = 'Pessoas que sofreram derrame vs Campo ou Cidade',)
plt.ylabel('Quantidade')
plt.xticks(rotation='horizontal')

## Niveis de glicose

In [ ]:
# Mediana, media
df['AVG_Nivel_Glicose'].describe()

In [ ]:
plt.boxplot(df['AVG_Nivel_Glicose'])

## Niveis BMI

In [ ]:
# Mediana, media
df['bmi'].describe()

In [ ]:
plt.boxplot(df['bmi'])

## Fumantes

In [ ]:
df['Status_fumante'].unique()

In [ ]:
df.query('Derrame == 1').groupby('Status_fumante')['Status_fumante'].count().sort_values().plot.bar(title = 'Pessoas que sofreram derrame vs fumantes', color = 'green')
plt.ylabel('Quantidade')
plt.xticks(rotation='horizontal')